*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100%;
}
.navigation{
    display: none;
    list-style: none;
}
.navigation > li > a{
    text-decoration: none;
    color: black;
}
.main-nav{
    display: flex;
    
}
.main-nav > ul{
    display: flex;
    list-style: none;
    width: 90%;
    height: 8svh;
    text-wrap: nowrap;
    column-gap: 2em;
    overflow: hidden;
    overflow-x: scroll;
    padding-left: 2vw;
    padding-top: 2.5em;
    padding-bottom: 3em;
}
.main-nav > ul > li > a{
    padding: 0.5svh 0.5vw;
}
.main-nav > ul > li > a:hover{
    border: 1px solid black;
    color: white;
    background-color: black;
    transition: 0.3s ease;
}

#cart-icon{
    display: none;
}

.main-nav > a{
    justify-content: center;
    width: 10%;
    height: 8svh;
    padding-left: 2vw;
    padding-top: 2.5em;
    object-fit: contain;
}

.main-nav > a > img{
    width: 30px;
}
    
.main-nav > ul > li > a{
    text-decoration: none;
    color: black;
}

.main-product{
    padding-left: 2vw;
    width: 100%;
    height: 92svh;
    overflow-y: scroll;
}

.main-product > article{
    border: 1px solid red;
    margin-bottom: 5svh;
    padding-top: 5svh;
    width: 100%;
    height: 70svh;
    position: relative;
    display: flex;
}

.side-gallery{
    object-fit: contain;
    width: 10%;
    height: min-content;
}

.img-container{
    width: 100%;
    height: 15svh;
    object-fit: contain;
}

.img-container > img{
    width: 100%;
    height: 100%;
}

main{
    height: 92svh;
}

.product{
    height: auto;
    width: 90%;
    display: flex;
}

.main-img{
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.main-content{
    height: 100%;
    width: 50%;
    padding-right: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-content > a{
    text-decoration: none;
    color: white;
    width: max-content;
    padding: 1svh 2vw;
    background-color: green;
}

.main-img > img{
    width: 100%;
    height: 100%;
}


@media (max-width: 1000px) {
    body{
        padding: 0;
    }
    section > h1{
        font-size: 1em;
        text-align: center;
    }
    #cart-icon{
        display: block;
        position: absolute;
        justify-content: center;
        top: 2svh;
        right: 0;
        width: 10%;
        object-fit: contain;
    }
    .main-product > article{
        border: none;
        flex-direction: column;
        height: min-content;
        width: 98%;
        row-gap: 1svh;
    }
    .side-gallery{
        display: flex;
        width: 100%;
        column-gap: 1vw;
    }
    .product{
        flex-direction: column;
        width: 100%;
    }
    .main-img{
        width: 100%;
        height: 55svh;
    }
    .main-content{
        width: 100%;
        align-items: center;
        padding: 0;
        gap: 1svh;
    }
    .toggle{
        position: relative;
        margin-top: 2vw;
        margin-left: 2vw;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../storage/img/menu.svg);
        background-size: 28px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11;
    }
    
    
    .toggle.active{
        position: relative;
        background: url(../storage/img/close-menu.svg);
        background-size: 28px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .main-nav{
        display: none;
    }
    
    .navigation.active{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 50svh;
        overflow-y: scroll;
        display: flex;
        padding-top: 20svh;
        padding-bottom: 2svh;
        row-gap: 1.5em;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.2em;
        background-color: white;
        z-index: 10;
    }
    
}
    