<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/main.js"></script>
    <title>CampusShop</title>
</head>
<body>
    <div class="toggle" onclick="toggleMenu()"></div>
    <a id="cart-icon" href=""><img src="../storage/img/cart.svg"></a>
    <ul class="navigation">
            <li><a href="../index.html">producto 1</a></li>
            <li><a href="./">producto 2</a></li>
            <li><a href="./product-3.html">producto 3</a></li>
            <li><a href="">producto 4</a></li>
            <li><a href="">producto 5</a></li>
            <li><a href="">producto 6</a></li>
            <li><a href="">producto 7</a></li>
            <li><a href="">producto 8</a></li>
            <li><a href="">producto 9</a></li>
    </ul>
    <nav class="main-nav">
        <ul>
            <li><a href="../index.html">producto 1</a></li>
            <li><a href="./product-2.html">producto 2</a></li>
            <li><a href="./product-3.html">producto 3</a></li>
            <li><a href="">producto 4</a></li>
            <li><a href="">producto 5</a></li>
            <li><a href="">producto 6</a></li>
            <li><a href="">producto 7</a></li>
            <li><a href="">producto 8</a></li>
            <li><a href="">producto 9</a></li>
            <li><a href="">producto 10</a></li>
            <li><a href="">producto 11</a></li>
            <li><a href="">producto 12</a></li>
            <li><a href="">producto 13</a></li>
            <li><a href="">producto 14</a></li>
            <li><a href="">producto 15</a></li>
        </ul>
        <a href=""><img src="../storage/img/cart.svg"></a>    
    </nav>
    <main>
        <section class="main-product">
            <h1>PRODUCTO 2</h1>
            <article>
                <div class="side-gallery">
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_906094-MCO53976036500_022023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_906094-MCO53976036500_022023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_906094-MCO53976036500_022023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_906094-MCO53976036500_022023-F.webp" alt=""></div>
                </div>
                <div class="product">
                    <div class="main-img"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_906094-MCO53976036500_022023-F.webp" alt=""></div>
                    <div class="main-content">
                        <h1>PRODUCTO <br><i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i></h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid perferendis quasi laborum sapiente, accusantium, neque minima, et molestiae alias quo iusto illo eius. Labore, quisquam voluptatem animi error sapiente Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, alias minus temporibus ad dignissimos, laudantium commodi reprehenderit doloribus deleniti aliquam rerum debitis nisi voluptatum incidunt quisquam? Modi, non? Inventore, dolorem? </p>
                        <h2>$100.000</h2>
                        <a href="">Obtener</a>
                    </div>
                </div>
            </article>
            <article>
                <div class="side-gallery">
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_649847-MCO43854241255_102020-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_649847-MCO43854241255_102020-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_649847-MCO43854241255_102020-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_649847-MCO43854241255_102020-F.webp" alt=""></div>
                </div>
                <div class="product">
                    <div class="main-img"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_649847-MCO43854241255_102020-F.webp" alt=""></div>
                    <div class="main-content">
                        <h1>PRODUCTO <br><i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i></h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid perferendis quasi laborum sapiente, accusantium, neque minima, et molestiae alias quo iusto illo eius. Labore, quisquam voluptatem animi error sapiente Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, alias minus temporibus ad dignissimos, laudantium commodi reprehenderit doloribus deleniti aliquam rerum debitis nisi voluptatum incidunt quisquam? Modi, non? Inventore, dolorem? </p>
                        <h2>$100.000</h2>
                        <a href="">Obtener</a>

                    </div>
                </div>
            </article>
            <article>
                <div class="side-gallery">
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_995623-MCO70722158553_072023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_995623-MCO70722158553_072023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_995623-MCO70722158553_072023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_995623-MCO70722158553_072023-F.webp" alt=""></div>
                </div>
                <div class="product">
                    <div class="main-img"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_995623-MCO70722158553_072023-F.webp" alt=""></div>
                    <div class="main-content">
                        <h1>PRODUCTO <br><i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i></h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid perferendis quasi laborum sapiente, accusantium, neque minima, et molestiae alias quo iusto illo eius. Labore, quisquam voluptatem animi error sapiente Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, alias minus temporibus ad dignissimos, laudantium commodi reprehenderit doloribus deleniti aliquam rerum debitis nisi voluptatum incidunt quisquam? Modi, non? Inventore, dolorem? </p>
                        <h2>$100.000</h2>
                        <a href="">Obtener</a>
                    </div>
                </div>
            </article>
            <article>
                <div class="side-gallery">
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_776916-MCO72088562654_102023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_776916-MCO72088562654_102023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_776916-MCO72088562654_102023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_776916-MCO72088562654_102023-F.webp" alt=""></div>
                </div>
                <div class="product">
                    <div class="main-img"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_776916-MCO72088562654_102023-F.webp" alt=""></div>
                    <div class="main-content">
                        <h1>PRODUCTO <br><i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i></h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid perferendis quasi laborum sapiente, accusantium, neque minima, et molestiae alias quo iusto illo eius. Labore, quisquam voluptatem animi error sapiente Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, alias minus temporibus ad dignissimos, laudantium commodi reprehenderit doloribus deleniti aliquam rerum debitis nisi voluptatum incidunt quisquam? Modi, non? Inventore, dolorem? </p>
                        <h2>$100.000</h2>
                        <a href="">Obtener</a>
                    </div>
                </div>
            </article>
            <article>
                <div class="side-gallery">
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_968038-MCO53410409233_012023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_968038-MCO53410409233_012023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_968038-MCO53410409233_012023-F.webp" alt=""></div>
                    <div class="img-container"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_968038-MCO53410409233_012023-F.webp" alt=""></div>
                </div>
                <div class="product">
                    <div class="main-img"><img src="https://http2.mlstatic.com/D_NQ_NP_2X_968038-MCO53410409233_012023-F.webp" alt=""></div>
                    <div class="main-content">
                        <h1>PRODUCTO <br><i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i> <i class='bx bxs-star' style='color:#e8ff00'></i></h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid perferendis quasi laborum sapiente, accusantium, neque minima, et molestiae alias quo iusto illo eius. Labore, quisquam voluptatem animi error sapiente Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, alias minus temporibus ad dignissimos, laudantium commodi reprehenderit doloribus deleniti aliquam rerum debitis nisi voluptatum incidunt quisquam? Modi, non? Inventore, dolorem? </p>
                        <h2>$100.000</h2>
                        <a href="">Obtener</a>
                    </div>
                </div>
            </article>
    
        </section>
    </main>
</body>
</html>